.navbar_container {
  background-color: #fff;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 10px 30px 10px 30px;
  position: absolute;
  z-index: 1;
  background-color: transparent;
}
.navbar_container .voosh_logo {
  height: 8vw;
}
@media (min-width: 992px) {
  .navbar_container .voosh_logo {
    height: 4vw;
 }
}
